temp
.terraform/
.idea/
.venv/
.env/

# Ignore Terraform state files and directories
**/*.tfstate
**/*.tfstate.*
.terraform/

# Ignore override files as they can contain sensitive data
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore crash log files
crash.log

# Ignore local .terraform directories
.terraform/

# Ignore .git directories
.git/
